@import url("https://fonts.googleapis.com/css?family=Raleway:700:500");

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    transition: background-image 2s;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
}


#app{
    padding: 70px 0;
}

#app .container{
    padding: 0 35px;
}

#app h1, #app h2{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: white;
    margin: 0px;
    padding: 0px;
}

#app h2{
    font-size: 24px;
}

#app .menu{
    margin-top: 8px;
}

#app .menu li{
    padding: 0px;
}

#app .menu ul li a{
    display: block;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-right: 25px;
}

#app .menu ul li:last-child a{
    padding-right: 0px;
}

#app .content{
    margin-top: 40px;
}

#app .product{
    width: 100%;
    min-height: 300px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

#app button.view-more{
    border: solid 2px #eee;
    text-align: center;
    margin: 30px auto 10px;
    padding: 4px 40px;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

#app button.view-more[disabled]{
    border-color: #9cc4d0;
    color: #9cc4d0;
}

#app .cover-product{
    max-height: 142px;
    overflow: hidden;
}

#app .cover-product img{
    width: 100%;
}

#app .product-info{
    padding: 22px;
    font-family: 'Raleway 500', sans-serif;
    font-size: 14px;
    color: #aaa;
    font-weight: 500;
    letter-spacing: .1mm;
    line-height: 16px;
}

#app .product-info h3{
    margin: 0px;
    font-weight: bolder;
    font-size: 20px;
    color: #444;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#app .product-info p{
    height: 64px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.product-indication-category{
    color: #42c3e3;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -.1mm;
    font-weight: bold;
}

.product-indcation a{
    text-align: center;
    display: block;
    font-family: 'Raleway 500', sans-serif;
    color: #aaa;
    font-weight: normal;
    text-decoration: underline;
    padding: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes products-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.product{
    animation: products-show 1 1s;
}

@media(max-width: 768px){
    #app{
        padding: 40px 0;
    }
    #app h1 {
        text-align: center !important;
    }
    #app .menu{
        display: block;
        float: none !important;
        margin: 20px auto !important;
        text-align: center;
    }
}
